.progress-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ECEAEA;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: black;
}